:root {
  --color: #8B7ED6;
  --gray: #B3B3B3;
  --white: #fff;
  --black: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*HOMEPAGE*/

body {
    font-family: "Roboto Mono", sans-serif;
    background-color: black;
    color: white;
}


.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

}

.logo {
  font-size: 2em;
  text-decoration: none;
  font-weight: 800;
  color: white;
  font-family: "Roboto Flex", sans-serif;
}

.topnav {
  display: flex;
  gap: 40px;
}
.topnav a,
.icon {
  text-decoration: none;
  color: white;
}
.topnav a:hover,
.topnav a:active,
.icon {
  color: var(--color);
}

.topnav a.active { /*tohle bylo v novem smazane*/
color: var(--color);
}

.icon {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}



.hero h1 {
  font-size: 80px;
  font-weight: 800;
  text-align: center;
}

.shine-text {
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #8B7ED6 20%,
    #ffffff 40%,
    #8B7ED6 60%,
    #ffffff 80%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shineMove 4s linear infinite;
}

@keyframes shineMove {
  from {
    background-position: 0% center;
  }
  to {
    background-position: 200% center;
  }
}


    .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
  gap: 70px;
  margin-top: 30px;
}

    .hero img {
      width: 100%;
    }


.btn {
  display: block;
  margin: 50px auto; /* centers horizontally */
  padding: 15px;
  background-color: white;
  color: black;                
  text-decoration: none;      
  transition: background 0.3s;
  width: 250px;
  text-align: center;
  font-size: 16px;
    border-radius: 5px;
}

.btn a {
  text-decoration: none;
  color: inherit;
}

.btn:hover {
  border: none;
  background-color: var(--color);
}

h2 {
  margin: 50px 0px;
  text-align: center;
  font-size: 40px;
  color: #FFFFFF; 
 background-image: linear-gradient(135deg, #FFFFFF 18%, #8C7ED6 57%); 
 background-clip: text; 
 -webkit-background-clip: text; 
 -webkit-text-fill-color: transparent; 
}

.gallery-hp {
  display: flex;
  gap: 25px;              /* mezery mezi fotkami */
  justify-content: space-between;
  flex-wrap: wrap;        /* umožní zalomení na menších obrazovkách */
}

.gallery-hp__item {
  flex: 1 1 calc(33.333% - 25px); /* tři vedle sebe */
  aspect-ratio: 3 / 4;            /* na výšku */
  overflow: hidden;
  border-radius: 8px;
  background: #f0f0f0;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.gallery-hp__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 1;
}

.gallery-hp__item img:hover {
  opacity: 0.9;
}


footer {
  background-color: black;
  color: darkgrey;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;

}


.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1440px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  .hero__hero-text h1 {
    font-size: 5em;
  }

  .hero__img {
  width: 595px;
  height: 702px;
}
}


/* lg */
@media (max-width: 1024px) {
  .container {
    width: 100%;
  }

  .hero__hero-text h1 {
    font-size: 5em;
    margin-left: 30px;
  }

  .hero__img {
  width: 800px;
  height: 562px;
}


  .about-me {
    display: flex;
    flex-direction: column;
  }




}

/* md */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
    .hero {
    flex-direction: column;   /* text nahoře, obrázek pod ním */
    padding: 0;               /* bez paddingu, aby obraz šel od okraje k okraji */
  }

 
  .hero__img img {
    width: 800px;
    height: 100%;
    object-fit: cover; /* ořízne, ale vyplní celý prostor */
  }
}

  .service {
    display: flex;
    flex-direction: column;
  }


/* sm */
@media (max-width: 640px) {
  .container {
    width: 100%;
  }

  

}

 


/* xs */
@media (max-width: 475px) {
  .container {
    width: 95%;
  }

 .hero__hero-text h1 {
    font-size: 3em;
  }

  .btn {
    margin: 0;
      width: 150px;
      font-size: 12px;

  }
  

  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.5em;


  }


}

/*PORTFOLIO*/

.portfolio h1,
.contact-info h1 {
  margin-top: 20px;
}

/* Filtrovací tlačítka */
.filter-buttons {
  text-align: center;
  margin-bottom: 30px;
}

.filter-btn {
  background: transparent;
  border: none;
  color: white;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 15px;
  position: relative;
}

.filter-btn:hover {
  color: var(--color);
}

.filter-btn.active {
  color: var(--color);
}


button {
  font-family: inherit; /* dědí font z rodiče (body) */
}

/* Galerie fotek (dvě kolony) */
.gallery {
  display: flex;
  background-color: white;
  padding: 30px;
  gap: 10px;
}

.gallery .column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery img {
  width: 100%;
}



/* Video položky */

.video-section {
  background-color: none;

}
.item.video {
  margin-top: 20px;
}

.item video {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.video-wrapper {
  max-width: 900px; /* maximální šířka videa */
  margin: 0 auto;   /* zarovnání na střed */
  padding: 50px;
}

.video-wrapper iframe {
  width: 100%;      /* video zabere celou šířku wrapperu */
  height: 500px;    /* výšku uprav podle potřeby */
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Responsivní chování */
@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
  }

  .column2 {
  margin-top: 0px;
}
}

/*Kontakt*/
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}





.about-me-portrait img {
  width: 100%;
  border-radius: 20px;
  
}

.about-me-portrait,
.about-me-text {
  flex: 1;
}

.email {
  text-align: center;
  font-size: 30px;
}


.contact-info__email svg {
  margin: auto;
	width: 50px;
		max-width: 100%;
    position: relative;
}

.service {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  margin-top: 50px;
}

.sevice__photo {
  padding: 20px;
}

.heading h2, h3{
  color: var(--color);
  margin-bottom: 10px;
}

ul {
  list-style-position: inside; /* odrážka bude součástí obsahu */
}

li::marker {
  color: var(--color); /* jen odrážka */
  font-size: 1.2em; /* můžeš změnit i velikost */
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}

@media (max-width: 768px) {
    .topnav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: #fff;
        width: 100%;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }
    .topnav.active {
        display: flex;
        background: #000;
        align-items: center;
        gap: 0px;
        z-index: 2;
    }
    .topnav.active a {
        color: #fff;
        padding: 20px; /* Add padding here */
        display: block;     /* Make links fill the width */
    }
    .icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }    
  }

