* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
  /*
  border: 1px solid yellow; */
}

body {
    font-family: "Inter Tight", sans-serif;
    background-color: #000;
    color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid mediumslateblue;
}

.logo {
  font-size: 2em;
  text-decoration: none;
  font-weight: 800;
  color: white;
}

.nav__header {
  display: flex;
  gap: 2em;
}

.nav__header a {
  text-decoration: none;
  color: white;
}

.nav__header a:hover {
  color: mediumslateblue;
}

.hero {
  display: flex;
  height: 100%;
  margin: 20px 0px;
  border-radius: 10px;
  padding: 20px;

}



.hero__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero__hero-portrait,
.hero__hero-text {
  flex: 1;
  
}
.hero__hero-portrait img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.hero__hero-text {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  display: inline-block;       /* aby šlo nastavit padding */
  padding: 10px 20px;
  background-color: mediumslateblue;      /* barva tlačítka */
  color: #000;                 /* barva textu */
  text-decoration: none;       /* odstraní podtržení */
  border-radius: 10px;          /* zaoblené rohy */
  transition: background 0.3s;
}

.btn:hover {
  background-color: white;      /* změna barvy při hover */
}


.promo {
  margin: 20px 0px;
}

.promo ul {
  list-style-position: inside;
}

.container {
  /*
  border: 1px solid red; */
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}